trunk/taverna-service/src/main/webapp/wsdl/Taverna.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsdl.tavernaservice.mygrid.org.uk" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsdl.tavernaservice.mygrid.org.uk" xmlns:intf="http://wsdl.tavernaservice.mygrid.org.uk" xmlns:tns1="http://queue.tavernaservice.mygrid.org.uk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wsdl.tavernaservice.mygrid.org.uk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://queue.tavernaservice.mygrid.org.uk"/>
   <element name="getResults">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getResultsReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="runWorkflow">
    <complexType>
     <sequence>
      <element name="workflow" type="xsd:string"/>
      <element name="inputs" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runWorkflowResponse">
    <complexType>
     <sequence>
      <element name="runWorkflowReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:QueueException"/>
   <element name="jobStatus">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="jobStatusResponse">
    <complexType>
     <sequence>
      <element name="jobStatusReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultDocument">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultDocumentResponse">
    <complexType>
     <sequence>
      <element name="getResultDocumentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://queue.tavernaservice.mygrid.org.uk" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://wsdl.tavernaservice.mygrid.org.uk"/>
   <complexType name="QueueException">
    <sequence/>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="jobStatusRequest">

      <wsdl:part element="impl:jobStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultsResponse">

      <wsdl:part element="impl:getResultsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="jobStatusResponse">

      <wsdl:part element="impl:jobStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="QueueException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="runWorkflowResponse">

      <wsdl:part element="impl:runWorkflowResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultDocumentResponse">

      <wsdl:part element="impl:getResultDocumentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="runWorkflowRequest">

      <wsdl:part element="impl:runWorkflow" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultDocumentRequest">

      <wsdl:part element="impl:getResultDocument" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultsRequest">

      <wsdl:part element="impl:getResults" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Taverna">

      <wsdl:operation name="getResults">

         <wsdl:input message="impl:getResultsRequest" name="getResultsRequest"/>

         <wsdl:output message="impl:getResultsResponse" name="getResultsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runWorkflow">

         <wsdl:input message="impl:runWorkflowRequest" name="runWorkflowRequest"/>

         <wsdl:output message="impl:runWorkflowResponse" name="runWorkflowResponse"/>

         <wsdl:fault message="impl:QueueException" name="QueueException"/>

      </wsdl:operation>

      <wsdl:operation name="jobStatus">

         <wsdl:input message="impl:jobStatusRequest" name="jobStatusRequest"/>

         <wsdl:output message="impl:jobStatusResponse" name="jobStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResultDocument">

         <wsdl:input message="impl:getResultDocumentRequest" name="getResultDocumentRequest"/>

         <wsdl:output message="impl:getResultDocumentResponse" name="getResultDocumentResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TavernaSoapBinding" type="impl:Taverna">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getResults">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runWorkflow">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runWorkflowRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="runWorkflowResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="QueueException">

            <wsdlsoap:fault name="QueueException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="jobStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="jobStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="jobStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResultDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TavernaService">

      <wsdl:port binding="impl:TavernaSoapBinding" name="Taverna">

         <wsdlsoap:address location="http://localhost:9980/taverna-service/services/Taverna"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
