archived/cvs2svn-2008-09-25/tags/restlet-bug1/taverna-service/taverna-wsdl/src/main/webapp/wsdl/Taverna.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsdl.service.taverna.sf.net" xmlns:intf="http://wsdl.service.taverna.sf.net" xmlns:tns1="http://interfaces.service.taverna.sf.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://wsdl.service.taverna.sf.net">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://wsdl.service.taverna.sf.net">
   <import namespace="http://interfaces.service.taverna.sf.net"/>
   <element name="reset">
    <complexType/>
   </element>
   <element name="resetResponse">
    <complexType/>
   </element>
   <element name="jobs">
    <complexType/>
   </element>
   <element name="jobsResponse">
    <complexType>
     <sequence>
      <element name="jobsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runWorkflow">
    <complexType>
     <sequence>
      <element name="scufl" type="xsd:string"/>
      <element name="inputDoc" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runWorkflowResponse">
    <complexType>
     <sequence>
      <element name="runWorkflowReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault" type="tns1:QueueException"/>
   <element name="fault1" type="tns1:ParseException"/>
   <element name="runWorkflowFile">
    <complexType>
     <sequence>
      <element name="filename" type="xsd:string"/>
      <element name="inputDoc" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runWorkflowFileResponse">
    <complexType>
     <sequence>
      <element name="runWorkflowFileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="jobStatus">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="jobStatusResponse">
    <complexType>
     <sequence>
      <element name="jobStatusReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultDocument">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultDocumentResponse">
    <complexType>
     <sequence>
      <element name="getResultDocumentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fault2" type="tns1:UnknownJobException"/>
   <element name="getProgressReport">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProgressReportResponse">
    <complexType>
     <sequence>
      <element name="getProgressReportReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWorkflow">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getWorkflowResponse">
    <complexType>
     <sequence>
      <element name="getWorkflowReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInputs">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInputsResponse">
    <complexType>
     <sequence>
      <element name="getInputsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="BlahType">
   	<sequence>
   		<element name="asdasd" type="string"/>
   		<element name="adasd" type="impl:asdads"/>
   	</sequence>
   </complexType>
  
   <complexType name="asdads">
   	<sequence>
   		<element name="Fish" type="string"/>
   		<element name="soup" type="impl:BlahType"/>
   	</sequence>
   </complexType>
  </schema>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://interfaces.service.taverna.sf.net">
   <complexType abstract="true" name="TavernaException">
    <sequence>
     <element name="msg" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="QueueException">
    <complexContent>
     <extension base="tns1:TavernaException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ParseException">
    <complexContent>
     <extension base="tns1:TavernaException">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UnknownJobException">
    <complexContent>
     <extension base="tns1:TavernaException">
      <sequence>
       <element name="jobID" nillable="true" type="xsd:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="resetResponse">

      <wsdl:part element="impl:resetResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="jobsRequest">

      <wsdl:part element="impl:jobs" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="runWorkflowFileRequest">

      <wsdl:part element="impl:runWorkflowFile" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getProgressReportRequest">

      <wsdl:part element="impl:getProgressReport" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="jobStatusRequest">

      <wsdl:part element="impl:jobStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInputsRequest">

      <wsdl:part element="impl:getInputs" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="jobsResponse">

      <wsdl:part element="impl:jobsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultDocumentRequest">

      <wsdl:part element="impl:getResultDocument" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="UnknownJobException">

      <wsdl:part element="impl:fault2" name="fault"/>

   </wsdl:message>

   <wsdl:message name="resetRequest">

      <wsdl:part element="impl:reset" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWorkflowRequest">

      <wsdl:part element="impl:getWorkflow" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getInputsResponse">

      <wsdl:part element="impl:getInputsResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getWorkflowResponse">

      <wsdl:part element="impl:getWorkflowResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="jobStatusResponse">

      <wsdl:part element="impl:jobStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultDocumentResponse">

      <wsdl:part element="impl:getResultDocumentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="ParseException">

      <wsdl:part element="impl:fault1" name="fault"/>

   </wsdl:message>

   <wsdl:message name="getProgressReportResponse">

      <wsdl:part element="impl:getProgressReportResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="runWorkflowFileResponse">

      <wsdl:part element="impl:runWorkflowFileResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="QueueException">

      <wsdl:part element="impl:fault" name="fault"/>

   </wsdl:message>

   <wsdl:message name="runWorkflowResponse">

      <wsdl:part element="impl:runWorkflowResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="runWorkflowRequest">

      <wsdl:part element="impl:runWorkflow" name="parameters"/>

      <wsdl:part name="authentication" type="impl:BlahType"/>
   </wsdl:message>

   <wsdl:portType name="Taverna">

      <wsdl:operation name="reset">

         <wsdl:input message="impl:resetRequest" name="resetRequest"/>

         <wsdl:output message="impl:resetResponse" name="resetResponse"/>

      </wsdl:operation>

      <wsdl:operation name="jobs">

         <wsdl:input message="impl:jobsRequest" name="jobsRequest"/>

         <wsdl:output message="impl:jobsResponse" name="jobsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runWorkflow">

         <wsdl:input message="impl:runWorkflowRequest" name="runWorkflowRequest"/>

         <wsdl:output message="impl:runWorkflowResponse" name="runWorkflowResponse"/>

         <wsdl:fault message="impl:QueueException" name="QueueException"/>

         <wsdl:fault message="impl:ParseException" name="ParseException"/>

      </wsdl:operation>

      <wsdl:operation name="runWorkflowFile">

         <wsdl:input message="impl:runWorkflowFileRequest" name="runWorkflowFileRequest"/>

         <wsdl:output message="impl:runWorkflowFileResponse" name="runWorkflowFileResponse"/>

         <wsdl:fault message="impl:QueueException" name="QueueException"/>

         <wsdl:fault message="impl:ParseException" name="ParseException"/>

      </wsdl:operation>

      <wsdl:operation name="jobStatus">

         <wsdl:input message="impl:jobStatusRequest" name="jobStatusRequest"/>

         <wsdl:output message="impl:jobStatusResponse" name="jobStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResultDocument">

         <wsdl:input message="impl:getResultDocumentRequest" name="getResultDocumentRequest"/>

         <wsdl:output message="impl:getResultDocumentResponse" name="getResultDocumentResponse"/>

         <wsdl:fault message="impl:UnknownJobException" name="UnknownJobException"/>

      </wsdl:operation>

      <wsdl:operation name="getProgressReport">

         <wsdl:input message="impl:getProgressReportRequest" name="getProgressReportRequest"/>

         <wsdl:output message="impl:getProgressReportResponse" name="getProgressReportResponse"/>

         <wsdl:fault message="impl:UnknownJobException" name="UnknownJobException"/>

      </wsdl:operation>

      <wsdl:operation name="getWorkflow">

         <wsdl:input message="impl:getWorkflowRequest" name="getWorkflowRequest"/>

         <wsdl:output message="impl:getWorkflowResponse" name="getWorkflowResponse"/>

         <wsdl:fault message="impl:UnknownJobException" name="UnknownJobException"/>

      </wsdl:operation>

      <wsdl:operation name="getInputs">

         <wsdl:input message="impl:getInputsRequest" name="getInputsRequest"/>

         <wsdl:output message="impl:getInputsResponse" name="getInputsResponse"/>

         <wsdl:fault message="impl:UnknownJobException" name="UnknownJobException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TavernaSoapBinding" type="impl:Taverna">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="reset">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="resetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="jobs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="jobsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="jobsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runWorkflow">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runWorkflowRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="runWorkflowResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="QueueException">

            <wsdlsoap:fault name="QueueException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ParseException">

            <wsdlsoap:fault name="ParseException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="runWorkflowFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runWorkflowFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="runWorkflowFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="QueueException">

            <wsdlsoap:fault name="QueueException" use="literal"/>

         </wsdl:fault>

         <wsdl:fault name="ParseException">

            <wsdlsoap:fault name="ParseException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="jobStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="jobStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="jobStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResultDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnknownJobException">

            <wsdlsoap:fault name="UnknownJobException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getProgressReport">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProgressReportRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProgressReportResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnknownJobException">

            <wsdlsoap:fault name="UnknownJobException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWorkflow">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWorkflowRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getWorkflowResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnknownJobException">

            <wsdlsoap:fault name="UnknownJobException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getInputs">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInputsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInputsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="UnknownJobException">

            <wsdlsoap:fault name="UnknownJobException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TavernaService">

      <wsdl:port binding="impl:TavernaSoapBinding" name="Taverna">

         <wsdlsoap:address location="http://localhost:9080/taverna-service/services/Taverna"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
