unsorted/cagridwrapper/trunk/serviceinvoker/src/main/wsdl/WSInterProScan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Revision: $Id: WSInterProScan.wsdl,v 1.6 2009/01/21 15:14:44 wli Exp $ -->
<definitions name="WSInterProScan" targetNamespace="http://www.ebi.ac.uk/WSInterProScan" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ebi.ac.uk/WSInterProScan" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
	<documentation>WSInterProScan: protein domain and family signature searches (see
		http://www.ebi.ac.uk/Tools/webservices/services/interproscan)
	</documentation>
	<types>
		<schema targetNamespace="http://www.ebi.ac.uk/WSInterProScan" xmlns:tns="http://www.ebi.ac.uk/WSInterProScan" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">	
      <xsd:complexType name="appNames">
        <xsd:sequence>
          <xsd:element name="appName" type="xsd:string" maxOccurs="9"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="inputParams">
 				<xsd:annotation>
					<xsd:documentation xml:lang="en">Input parameters for tool, see
						http://www.ebi.ac.uk/Tools/webservices/services/interproscan#inputparams
						for details.</xsd:documentation>
				</xsd:annotation>
        <xsd:all>
	        <xsd:element name="app" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Comma seperated list of signature 
							method names to run</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
	        <xsd:element name="crc" type="xsd:boolean" nillable="true">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Perform lookup in InterPro Matches</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
	        <xsd:element name="seqtype" type="xsd:string" nillable="false">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Sequence type: P for 
							protein</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
	        <xsd:element name="trlen" type="xsd:int" nillable="true">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Deprecated</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
	        <xsd:element name="trtable" type="xsd:int" nillable="true">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Deprecated</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
	        <xsd:element name="goterms" type="xsd:boolean" nillable="true">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Include Gene Ontology terms in result</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
	        <xsd:element name="async" type="xsd:boolean" nillable="true">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Asynchronous submission</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
	        <xsd:element name="outformat" type="xsd:string" nillable="true">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Not used</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
	        <xsd:element name="email" type="xsd:string" nillable="false">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">User email address</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
        </xsd:all>
      </xsd:complexType>
			<xsd:complexType name="data">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Input data for tool, see
						http://www.ebi.ac.uk/Tools/webservices/services/interproscan#data
						for details.</xsd:documentation>
				</xsd:annotation>
				<xsd:all>
					<xsd:element name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Input data
								type</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="content" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Input
								data</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
      <xsd:complexType name="ArrayOf_xsd_string">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSArrayofFile">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:WSFile[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WSArrayofData">
        <xsd:complexContent>
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:data[]"/>
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
			<xsd:complexType name="WSFile">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Result data type description,
						see
						http://www.ebi.ac.uk/Tools/webservices/services/interproscan#wsfile
						for details.</xsd:documentation>
				</xsd:annotation>
				<xsd:all>
					<xsd:element name="type" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Result type
								name.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ext" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">File extension for
								result type</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="outData">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Description of input options, see http://www.ebi.ac.uk/Tools/webservices/services/interproscan#outdata for details.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:all>
					<xsd:element name="print_name" nillable="false" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Name to display in a user interface</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="name" nillable="false" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Name to be passed as the option value.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="selected" nillable="true" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								Yes/no flag indicating if this is the default value.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="data_type" nillable="true" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The type of data being searched.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="input_type" nillable="true" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The type of input data.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="search_type" nillable="true" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The type of search performed.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:all>
			</xsd:complexType>
			
			<xsd:complexType name="WSArrayofoutData">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="tns:outData[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			
    </schema>
  </types>
  <message name="statusRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="statusResponse">
    <part name="status" type="xsd:string"/>
  </message>
  <message name="resultsRequest">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="resultsResponse">
    <part name="results" type="tns:WSArrayofFile"/>
  </message>
  <message name="pollRequest">
    <part name="jobid" type="xsd:string"/>
    <part name="type" type="xsd:string"/>
  </message>
  <message name="pollResponse">
    <part name="result" type="xsd:base64Binary"/>	
  </message>
  <message name="runInterProScanRequest">
    <part name="params" type="tns:inputParams"/>
    <part name="content" type="tns:WSArrayofData"/>
  </message>
  <message name="runInterProScanResponse">
    <part name="jobid" type="xsd:string"/>
  </message>
  <message name="polljobRequest">
    <part name="jobid" type="xsd:string"/>
    <part name="outformat" type="xsd:string"/>
  </message>
  <message name="polljobResponse">
    <part name="result" type="xsd:string"/>
  </message>
  <message name="doInterProScanRequest">
    <part name="params" type="tns:inputParams"/>
    <part name="content" type="xsd:base64Binary"/>
  </message>
  <message name="doInterProScanResponse">
    <part name="result" type="xsd:base64Binary"/>
  </message>
  <message name="getAppNamesRequest"> 
	</message>
	<message name="getAppNamesResponse">
	 <part name="result" type="tns:WSArrayofoutData"/>	
  </message>
  <portType name="WSInterProScan">
    <operation name="runInterProScan" parameterOrder="params content">
			<documentation>Submit a InterProScan analysis job (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#runinterproscan_params_content)</documentation>
      <input name="runInterProScanRequest" message="tns:runInterProScanRequest"/>
      <output name="runInterProScanResponse" message="tns:runInterProScanResponse"/>
    </operation>
    <operation name="checkStatus" parameterOrder="jobid">
			<documentation>Get the status of a submited job (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#checkstatus_jobid)</documentation>
      <input name="statusRequest" message="tns:statusRequest"/>
      <output name="statusResponse" message="tns:statusResponse"/>
    </operation>
    <operation name="poll" parameterOrder="jobid type">
			<documentation>Get the results of a job (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#poll_jobid_type)</documentation>
      <input name="pollRequest" message="tns:pollRequest"/>
      <output name="pollResponse" message="tns:pollResponse"/>
    </operation>
    <operation name="getResults" parameterOrder="jobid">
			<documentation>Get the available result types for a completed job (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#getresults_jobid)</documentation>
      <input name="resultsRequest" message="tns:resultsRequest"/>
      <output name="resultsResponse" message="tns:resultsResponse"/>
    </operation>
    <operation name="polljob" parameterOrder="jobid outformat">
    	<documentation>Deprecated (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#polljob_jobid_outformat)</documentation>
      <input name="polljobRequest" message="tns:polljobRequest"/>
      <output name="polljobResponse" message="tns:polljobResponse"/>
    </operation>
    <operation name="doIprscan" parameterOrder="params content">
    	<documentation>Deprecated (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#doiprscan_params_content)</documentation>
      <input name="doInterProScanRequest" message="tns:doInterProScanRequest"/>
      <output name="doInterProScanResponse" message="tns:doInterProScanResponse"/>
    </operation>
    <operation name="getAppNames">
		  <input name="getAppNamesRequest" message="tns:getAppNamesRequest"/>
		  <output name="getAppNamesResponse" message="tns:getAppNamesResponse"/>
	</operation>
  </portType>
  <binding name="WSInterProScanSoapBinding" type="tns:WSInterProScan">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="poll">
			<documentation>Get the results of a job (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#poll_jobid_type)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSInterProScan#poll"/>
      <input name="pollRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </input>
      <output name="pollResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </output>
    </operation>
    <operation name="runInterProScan">
			<documentation>Submit a InterProScan analysis job (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#runinterproscan_params_content)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSInterProScan#runInterProScan"/>
      <input name="runInterProScanRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>			
      </input>
      <output name="runInterProScanResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </output>
    </operation> 
    <operation name="checkStatus">
			<documentation>Get the status of a submited job (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#checkstatus_jobid)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSInterProScan#checkStatus"/>
      <input name="statusRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </input>
      <output name="statusResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </output>		
    </operation>
    <operation name="getResults">
			<documentation>Get the available result types for a completed job (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#getresults_jobid)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSInterProScan#getResults"/>
      <input name="resultsRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </input>
      <output name="resultsResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </output>
    </operation>
    <operation name="polljob">
    	<documentation>Deprecated (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#polljob_jobid_outformat)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSIprscan#polljob"/>
      <input name="polljobRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </input>
      <output name="polljobResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </output>
    </operation>
    <operation name="doIprscan">
    	<documentation>Deprecated (see
				http://www.ebi.ac.uk/Tools/webservices/services/interproscan#doiprscan_params_content)</documentation>
      <soap:operation soapAction="http://www.ebi.ac.uk/WSIprscan#doIprscan"/>
      <input name="doInterProScanRequest">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </input>
      <output name="doInterProScanResponse">
        <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
      </output>
    </operation>
    <operation name="getAppNames">
	 <soap:operation soapAction="http://www.ebi.ac.uk/WSInterProScan#getAppNames"/>
	  <input name="getAppNamesRequest">
	   <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
	  </input>
	  <output name="getAppNamesResponse">
	   <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://www.ebi.ac.uk/WSInterProScan" use="encoded"/>
	  </output>		
	</operation>
  </binding>
  <service name="WSInterProScanService">
    <port name="WSInterProScan" binding="tns:WSInterProScanSoapBinding">
      <soap:address location="http://www.ebi.ac.uk/Tools/es/ws-servers/WSInterProScan"/>
    </port>
  </service>
</definitions>