trunk/taverna-service/taverna-wsdl/src/main/webapp/wsdl/Taverna.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://wsdl.service.taverna.sf.net" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://wsdl.service.taverna.sf.net" xmlns:intf="http://wsdl.service.taverna.sf.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://wsdl.service.taverna.sf.net" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="reset">
    <complexType/>
   </element>
   <element name="resetResponse">
    <complexType/>
   </element>
   <element name="call">
    <complexType>
     <sequence>
      <element name="method" type="xsd:string"/>
      <element name="msg" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="callResponse">
    <complexType>
     <sequence>
      <element name="callReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runWorkflowFile">
    <complexType>
     <sequence>
      <element name="filename" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="runWorkflowFileResponse">
    <complexType>
     <sequence>
      <element name="runWorkflowFileReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="jobStatus">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="jobStatusResponse">
    <complexType>
     <sequence>
      <element name="jobStatusReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultDocument">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResultDocumentResponse">
    <complexType>
     <sequence>
      <element name="getResultDocumentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProgressReport">
    <complexType>
     <sequence>
      <element name="job_id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getProgressReportResponse">
    <complexType>
     <sequence>
      <element name="getProgressReportReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getResultDocumentResponse">

      <wsdl:part element="impl:getResultDocumentResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="runWorkflowFileRequest">

      <wsdl:part element="impl:runWorkflowFile" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="resetResponse">

      <wsdl:part element="impl:resetResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getProgressReportRequest">

      <wsdl:part element="impl:getProgressReport" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="jobStatusRequest">

      <wsdl:part element="impl:jobStatus" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getProgressReportResponse">

      <wsdl:part element="impl:getProgressReportResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="getResultDocumentRequest">

      <wsdl:part element="impl:getResultDocument" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="runWorkflowFileResponse">

      <wsdl:part element="impl:runWorkflowFileResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="callResponse">

      <wsdl:part element="impl:callResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="callRequest">

      <wsdl:part element="impl:call" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="resetRequest">

      <wsdl:part element="impl:reset" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="jobStatusResponse">

      <wsdl:part element="impl:jobStatusResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="Taverna">

      <wsdl:operation name="reset">

         <wsdl:input message="impl:resetRequest" name="resetRequest"/>

         <wsdl:output message="impl:resetResponse" name="resetResponse"/>

      </wsdl:operation>

      <wsdl:operation name="call">

         <wsdl:input message="impl:callRequest" name="callRequest"/>

         <wsdl:output message="impl:callResponse" name="callResponse"/>

      </wsdl:operation>

      <wsdl:operation name="runWorkflowFile">

         <wsdl:input message="impl:runWorkflowFileRequest" name="runWorkflowFileRequest"/>

         <wsdl:output message="impl:runWorkflowFileResponse" name="runWorkflowFileResponse"/>

      </wsdl:operation>

      <wsdl:operation name="jobStatus">

         <wsdl:input message="impl:jobStatusRequest" name="jobStatusRequest"/>

         <wsdl:output message="impl:jobStatusResponse" name="jobStatusResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getResultDocument">

         <wsdl:input message="impl:getResultDocumentRequest" name="getResultDocumentRequest"/>

         <wsdl:output message="impl:getResultDocumentResponse" name="getResultDocumentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getProgressReport">

         <wsdl:input message="impl:getProgressReportRequest" name="getProgressReportRequest"/>

         <wsdl:output message="impl:getProgressReportResponse" name="getProgressReportResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TavernaSoapBinding" type="impl:Taverna">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="reset">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="resetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="call">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="callRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="callResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="runWorkflowFile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="runWorkflowFileRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="runWorkflowFileResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="jobStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="jobStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="jobStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getResultDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getResultDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResultDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getProgressReport">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getProgressReportRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getProgressReportResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TavernaService">

      <wsdl:port binding="impl:TavernaSoapBinding" name="Taverna">

         <wsdlsoap:address location="http://localhost:9980/tavernaservice/services/Taverna"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
