tags/release-0-1-beta-1/taverna1.0/docs/enactor-provenance-report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ID" type="xs:byte"/>
	<xs:element name="Operation" type="xs:string"/>
	<xs:element name="PortType" type="xs:string"/>
	<xs:complexType name="SOAPLabInvocationType">
		<xs:sequence>
			<xs:element ref="status" minOccurs="0"/>
			<xs:element ref="WSDLURI" minOccurs="0"/>
			<xs:element ref="startTime" minOccurs="0"/>
			<xs:element ref="endTime" minOccurs="0"/>
			<xs:element ref="soaplabReport" minOccurs="0"/>
			<xs:element ref="soaplabDetailedStatus" minOccurs="0"/>
			<xs:element name="dataset" type="datasetType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WSDLInvocationType">
		<xs:sequence>
			<xs:element ref="status" minOccurs="0"/>
			<xs:element ref="WSDLURI" minOccurs="0"/>
			<xs:element ref="PortType" minOccurs="0"/>
			<xs:element ref="Operation" minOccurs="0"/>
			<xs:element name="dataset" type="datasetType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TalismanTriggerInvocationType"/>
	<xs:element name="WSDLURI" type="xs:anyURI"/>
	<xs:complexType name="dataType">
		<xs:sequence>
			<xs:element ref="ID"/>
			<xs:element ref="name"/>
			<xs:element ref="type"/>
			<xs:element ref="value"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="datasetType">
		<xs:sequence>
			<xs:element name="data" type="dataType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="endTime" type="xs:string"/>
	<xs:element name="name" type="xs:string"/>
	<xs:complexType name="processorListType">
		<xs:sequence>
			<xs:element name="SOAPLabInvocation" type="SOAPLabInvocationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WSDLInvocation" type="WSDLInvocationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="TalismanInvocation" type="TalismanTriggerInvocationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="soaplabDetailedStatus" type="xs:string"/>
	<xs:element name="soaplabReport" type="xs:string"/>
	<xs:element name="startTime" type="xs:string"/>
	<xs:element name="status" type="xs:string"/>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="org.w3c.dom.Element"/>
				<xs:enumeration value="string"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="value" type="xs:string"/>
	<xs:element name="workflowID" type="xs:string"/>
	<xs:element name="workflowProvenance">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="workflowID"/>
				<xs:element ref="workflowStatus"/>
				<xs:element ref="startTime"/>
				<xs:element ref="endTime"/>
				<xs:element name="processorList" type="processorListType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="workflowStatus" type="xs:string"/>
</xs:schema>
