archived/cvs2svn-2008-09-25/tags/release-0-1-beta-2/taverna1.0/docs/enactor-progress-report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:complexType name="processorType">
		<xs:attribute name="name" use="required" type="xs:NMTOKEN"/>			
		<xs:attribute name="status" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="processorListType">
		<xs:sequence>
			<xs:element name="processor" type="processorType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="workflowReport">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="processorList" type="processorListType"/>
			</xs:sequence>
			<xs:attribute name="workflowID" type="xs:string" use="required"/>
			<xs:attribute name="workflowStatus" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
