archived/cvs2svn-2008-09-25/tags/feta-engine_1_1_4/feta-engine/src/main/wsdl/fetaEngine.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="feta"
    targetNamespace="http://mygrid.org.uk/2004/FETA"
    xmlns="http://www.mygrid.org.uk/feta.wsdl"
    xmlns:import1="http://mygrid.org.uk/2004/InformationModel"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://mygrid.org.uk/2004/FETA" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:lsidBindings="http://www.omg.org/LSID/2003/DataServiceSOAPBindings"
    xmlns:s="http://soapinterop.org/xsd"> 
    
 <xsd:import namespace="http://mygrid.org.uk/2004/FETA" schemaLocation="./FetaWebServiceTypes.xsd"/>

    <wsdl:message name="inquiryRequest">
        <wsdl:part name="searchRequest" element="tns:FetaSearchRequest"/>
    </wsdl:message>
    
    <wsdl:message name="inquiryResponse">
        <wsdl:part name="searchResponse" element="tns:FetaSearchResponse"/>
    </wsdl:message>
    
 
    <wsdl:message name="publishRequest">
         <wsdl:part name="publicationRequest" type="xsd:string"/>
    </wsdl:message>
     
    <wsdl:message name="publishResponse">
         <wsdl:part name="publicationResponse" element="tns:FetaPublishResponse"/>
    </wsdl:message>
    

    <wsdl:message name="removeRequest">
         <wsdl:part name="removalRequest" type="xsd:string"/>
    </wsdl:message>
     
    <wsdl:message name="removeResponse">
         <wsdl:part name="removalResponse" element="tns:FetaRemoveResponse"/>
    </wsdl:message>
    
    
    <wsdl:message name="freeQueryRequest">
        <wsdl:part name="freeQueryIn" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="freeQueryResponse">
        <wsdl:part name="freeQueryOut" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="getContentResponse">
        <wsdl:part name="storeContentOut" type="xsd:string"/>
    </wsdl:message>  
    
    <wsdl:message name="getContentRequest"> 
    </wsdl:message>


    <wsdl:portType name="fetaPortType">
        <wsdl:operation name="inquire">
            <wsdl:input message="tns:inquiryRequest"/>
            <wsdl:output message="tns:inquiryResponse"/>
        </wsdl:operation>
        <wsdl:operation name="publishDescription">
            <wsdl:input message="tns:publishRequest"/>
            <wsdl:output message="tns:publishResponse"/>
        </wsdl:operation>        
        <wsdl:operation name="removeDescription">
            <wsdl:input message="tns:removeRequest"/>
            <wsdl:output message="tns:removeResponse"/>
        </wsdl:operation>                
         <wsdl:operation name="freeFormQuery">
	      <wsdl:input message="tns:freeQueryRequest"/>
	      <wsdl:output message="tns:freeQueryResponse"/>
	</wsdl:operation>        
    </wsdl:portType>

    <wsdl:portType name="fetaAdminPortType">
            <wsdl:operation name="getStoreContent">
                <wsdl:input message="tns:getContentRequest"/>
                <wsdl:output message="tns:getContentResponse"/>
            </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="fetaAdminPortTypeBinding" type="tns:fetaAdminPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getStoreContent">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body  parts =""  use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body  parts = "storeContentOut" use="literal" />
            </wsdl:output>                                
        </wsdl:operation>                   
    </wsdl:binding> 

    <wsdl:binding name="fetaPortTypeBinding" type="tns:fetaPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="inquire">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://mygrid.org.uk/2004/FETA"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://mygrid.org.uk/2004/FETA"/>
            </wsdl:output>
          </wsdl:operation>               

        <wsdl:operation name="publishDescription">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://mygrid.org.uk/2004/FETA"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://mygrid.org.uk/2004/FETA"/>
            </wsdl:output>
          </wsdl:operation>    
        <wsdl:operation name="removeDescription">
            <soap:operation style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://mygrid.org.uk/2004/FETA"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://mygrid.org.uk/2004/FETA"/>
            </wsdl:output>
          </wsdl:operation>            
        <wsdl:operation name="freeFormQuery">
	    <soap:operation style="document"/>
	    <wsdl:input>
	         <soap:body  parts= "freeQueryIn"  use="literal" />
	    </wsdl:input>
	    <wsdl:output>
	         <soap:body  parts= "freeQueryOut" use="literal" />
	    </wsdl:output>
        </wsdl:operation>       
    </wsdl:binding>
    
    <wsdl:service name="feta">
        <wsdl:port binding="tns:fetaPortTypeBinding" name="feta">
            <soap:address location="http://localhost:8080/fetaEngine/services/feta"/>
        </wsdl:port>

        <wsdl:port binding="tns:fetaAdminPortTypeBinding" name="fetaAdmin">
            <soap:address location="http://localhost:8080/fetaEngine/services/fetaAdmin"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>