archived/cvs2svn-2008-09-25/tags/release-0-1-beta-3/taverna1.0/docs/xscufl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.2 U (http://www.xmlspy.com) by Tom Oinn (EBI) -->
<!--W3C Schema generated by XML Spy v4.2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="action">
		<xs:annotation>
			<xs:documentation>The state change that the gate condition guards</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="target"/>
				<xs:element ref="statechange"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="arbitrarywsdl">
		<xs:annotation>
			<xs:documentation>A web service based processor</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="wsdl"/>
				<xs:element ref="porttype"/>
				<xs:element ref="operation"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="condition">
		<xs:annotation>
			<xs:documentation>The gate condition that determines whether the target is allowed to change state</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="target"/>
				<xs:element ref="state"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="coordination">
		<xs:annotation>
			<xs:documentation>A restriction on the condittions under which a named processor may transition from one state to another during execution of the workflow</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="condition"/>
				<xs:element ref="action"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="from" type="xs:string">
		<xs:annotation>
			<xs:documentation>scheduled, running, completed or aborted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="input" type="xs:string">
		<xs:annotation>
			<xs:documentation>A processor:port or external port name that will consume the data from the link</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="link">
		<xs:annotation>
			<xs:documentation>A data link from a processor output to another processor input, or between an external source / sink and an internal processor</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="input"/>
				<xs:element ref="output"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="operation" type="xs:string">
		<xs:annotation>
			<xs:documentation>Name of the operation to invoke when this service is activated</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="output" type="xs:string">
		<xs:annotation>
			<xs:documentation>A processor:port or external port name that will supply data to the link</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="porttype" type="xs:string">
		<xs:annotation>
			<xs:documentation>Name of the port type from which to extract the operation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="processor">
		<xs:annotation>
			<xs:documentation>A processing entitiy within the workflow</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element ref="talisman"/>
				<xs:element ref="soaplabwsdl"/>
				<xs:element ref="arbitrarywsdl"/>
			</xs:choice>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="log" type="xs:int" use="optional" default="0">
				<xs:annotation>
					<xs:documentation>This is the amount of provenance information that the processor should provide. Currently ignored by the enactor, it is set to a default of zero corresponding to no provenance generation.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="scufl">
		<xs:annotation>
			<xs:documentation>A workflow based on the XScufl language</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="coordination"/>
				<xs:element ref="processor"/>
				<xs:element ref="link"/>
				<xs:element ref="sink"/>
				<xs:element ref="source"/>
			</xs:choice>
			<xs:attribute name="version" type="xs:decimal" use="required" fixed="0.1"/>
			<xs:attribute name="log" type="xs:int" use="optional" default="0">
				<xs:annotation>
					<xs:documentation>Optional specification of how much provenance information is generated by invocations of this workflow. Currently ignored by the enactor and set by default to zero, corresponding to no provenance generation.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sink" type="xs:string">
		<xs:annotation>
			<xs:documentation>A processor:port specifier for an externally visible workflow sink</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="soaplabwsdl" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>URL to a soaplab service endpoint</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="source" type="xs:string">
		<xs:annotation>
			<xs:documentation>A processor:port specifier for an externally visible workflow source</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="state" type="xs:string">
		<xs:annotation>
			<xs:documentation>scheduled, running, completed or aborted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="statechange">
		<xs:annotation>
			<xs:documentation>The change in state guarded by this constraint</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="from"/>
				<xs:element ref="to"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="talisman">
		<xs:annotation>
			<xs:documentation>A talisman script based service</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tscript"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="target" type="xs:string">
		<xs:annotation>
			<xs:documentation>A processor name</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="to" type="xs:string">
		<xs:annotation>
			<xs:documentation>scheduled, running, completed or aborted</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="tscript" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>URL to the tscript definition file</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="wsdl" type="xs:anyURI">
		<xs:annotation>
			<xs:documentation>URL to the WSDL document</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
