archived/cvs2svn-2008-09-25/trunk/plugins/logbook/logbook/workbench/examples/myGrid/imprint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" xmlns:intf="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[][]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="identifyUniprotACRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:float"/>

   </wsdl:message>

   <wsdl:message name="identifyUniprotACResponse">

      <wsdl:part name="identifyUniprotACReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="identifyProteinsRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:float"/>

      <wsdl:part name="in2" type="xsd:int"/>

      <wsdl:part name="in3" type="xsd:int"/>

      <wsdl:part name="in4" type="xsd:int"/>

      <wsdl:part name="in5" type="xsd:int"/>

      <wsdl:part name="in6" type="xsd:int"/>

      <wsdl:part name="in7" type="xsd:string"/>

      <wsdl:part name="in8" type="xsd:string"/>

      <wsdl:part name="in9" type="xsd:string"/>

      <wsdl:part name="in10" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="identifyUniprotProteinsRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:float"/>

      <wsdl:part name="in2" type="xsd:int"/>

      <wsdl:part name="in3" type="xsd:int"/>

      <wsdl:part name="in4" type="xsd:int"/>

      <wsdl:part name="in5" type="xsd:int"/>

      <wsdl:part name="in6" type="xsd:int"/>

      <wsdl:part name="in7" type="xsd:string"/>

      <wsdl:part name="in8" type="xsd:string"/>

      <wsdl:part name="in9" type="xsd:string"/>

      <wsdl:part name="in10" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="identifyProteinsResponse">

      <wsdl:part name="identifyProteinsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="identifyResponse">

      <wsdl:part name="identifyReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="identifyRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:float"/>

      <wsdl:part name="in2" type="xsd:int"/>

      <wsdl:part name="in3" type="xsd:int"/>

      <wsdl:part name="in4" type="xsd:int"/>

      <wsdl:part name="in5" type="xsd:int"/>

      <wsdl:part name="in6" type="xsd:int"/>

      <wsdl:part name="in7" type="xsd:string"/>

      <wsdl:part name="in8" type="xsd:string"/>

      <wsdl:part name="in9" type="xsd:string"/>

      <wsdl:part name="in10" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="identifyProteinRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:float"/>

      <wsdl:part name="in2" type="xsd:int"/>

      <wsdl:part name="in3" type="xsd:int"/>

      <wsdl:part name="in4" type="xsd:int"/>

      <wsdl:part name="in5" type="xsd:int"/>

      <wsdl:part name="in6" type="xsd:int"/>

      <wsdl:part name="in7" type="xsd:string"/>

      <wsdl:part name="in8" type="xsd:string"/>

      <wsdl:part name="in9" type="xsd:string"/>

      <wsdl:part name="in10" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="identifyUniprotProteinResponse">

      <wsdl:part name="identifyUniprotProteinReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="identifyUniprotProteinsResponse">

      <wsdl:part name="identifyUniprotProteinsReturn" type="impl:ArrayOfArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="identifyUniprotProteinRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:float"/>

      <wsdl:part name="in2" type="xsd:int"/>

      <wsdl:part name="in3" type="xsd:int"/>

      <wsdl:part name="in4" type="xsd:int"/>

      <wsdl:part name="in5" type="xsd:int"/>

      <wsdl:part name="in6" type="xsd:int"/>

      <wsdl:part name="in7" type="xsd:string"/>

      <wsdl:part name="in8" type="xsd:string"/>

      <wsdl:part name="in9" type="xsd:string"/>

      <wsdl:part name="in10" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="identifyProteinResponse">

      <wsdl:part name="identifyProteinReturn" type="apachesoap:Vector"/>

   </wsdl:message>

   <wsdl:portType name="Imprint">

      <wsdl:operation name="identify" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">

         <wsdl:input message="impl:identifyRequest" name="identifyRequest"/>

         <wsdl:output message="impl:identifyResponse" name="identifyResponse"/>

      </wsdl:operation>

      <wsdl:operation name="identifyProteins" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">

         <wsdl:input message="impl:identifyProteinsRequest" name="identifyProteinsRequest"/>

         <wsdl:output message="impl:identifyProteinsResponse" name="identifyProteinsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="identifyProtein" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">

         <wsdl:input message="impl:identifyProteinRequest" name="identifyProteinRequest"/>

         <wsdl:output message="impl:identifyProteinResponse" name="identifyProteinResponse"/>

      </wsdl:operation>

      <wsdl:operation name="identifyUniprotAC" parameterOrder="in0 in1">

         <wsdl:input message="impl:identifyUniprotACRequest" name="identifyUniprotACRequest"/>

         <wsdl:output message="impl:identifyUniprotACResponse" name="identifyUniprotACResponse"/>

      </wsdl:operation>

      <wsdl:operation name="identifyUniprotProtein" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">

         <wsdl:input message="impl:identifyUniprotProteinRequest" name="identifyUniprotProteinRequest"/>

         <wsdl:output message="impl:identifyUniprotProteinResponse" name="identifyUniprotProteinResponse"/>

      </wsdl:operation>

      <wsdl:operation name="identifyUniprotProteins" parameterOrder="in0 in1 in2 in3 in4 in5 in6 in7 in8 in9 in10">

         <wsdl:input message="impl:identifyUniprotProteinsRequest" name="identifyUniprotProteinsRequest"/>

         <wsdl:output message="impl:identifyUniprotProteinsResponse" name="identifyUniprotProteinsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="imprintSoapBinding" type="impl:Imprint">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="identify">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="identifyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://imprint" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="identifyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="identifyProteins">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="identifyProteinsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://imprint" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="identifyProteinsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="identifyProtein">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="identifyProteinRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://imprint" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="identifyProteinResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="identifyUniprotAC">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="identifyUniprotACRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://imprint" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="identifyUniprotACResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="identifyUniprotProtein">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="identifyUniprotProteinRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://imprint" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="identifyUniprotProteinResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="identifyUniprotProteins">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="identifyUniprotProteinsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://imprint" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="identifyUniprotProteinsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ImprintService">

      <wsdl:port binding="impl:imprintSoapBinding" name="imprint">

         <wsdlsoap:address location="http://rpc178.cs.man.ac.uk:8080/axis/services/imprint"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>