trunk/soap-data-proxy/src/main/webapp/wsdls/22222/MyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://testing.org" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://testing.org" xmlns:intf="http://testing.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://testing.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="changeInputData">
    <complexType>
     <sequence>
      <element name="data" type="impl:InputData"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="InputData">
    <sequence>
     <element name="age" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="changeInputDataResponse">
    <complexType>
     <sequence>
      <element name="changeInputDataReturn" type="impl:InputData"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="changeInputDataRequest">

      <wsdl:part element="impl:changeInputData" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="changeInputDataResponse">

      <wsdl:part element="impl:changeInputDataResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="MyService">

      <wsdl:operation name="changeInputData">

         <wsdl:input message="impl:changeInputDataRequest" name="changeInputDataRequest"/>

         <wsdl:output message="impl:changeInputDataResponse" name="changeInputDataResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MyServiceSoapBinding" type="impl:MyService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="changeInputData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeInputDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeInputDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MyServiceService">

      <wsdl:port binding="impl:MyServiceSoapBinding" name="MyService">

         <wsdlsoap:address location="http://localhost:8080/data-proxy/proxy?id=22222"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>